/*
a {
    text-decoration:none;
    color: yellow;
}
*/
h1 {
/* kommentar i css */
/* egenskap:värde
   attribut:värde */
   color:green;
   font-size: 9px;

}

/* egenskaper för alla "div" */
div {
background-color: red;
border-style: solid;
}

.red {
    background-color: red;
    width:200px;
    height:100px;
}
.green_liten {
    background-color: green;
    width:100px;
    height:50px;
}

.varg {
      height:50;
      width:auto;

}
